/* :root {
  font-size: 62.5%;
  //1rem = 10px
  --primary-color: #404e82;
  --secondary-color: #c4d2eb;
  --tertiary-color: #eff3fa;
  --yellow-sigaa: #d99c44;
  --border-color: #c4c4c4;
  --black-color: #000;
  --white-color: #fff;
} */
